<link rel='stylesheet' href ='/stylesheets/top_bar.css'/>
<script src="https://kit.fontawesome.com/5594ef4bad.js" crossorigin="anonymous"></script>
<script>
  function goBack(){
    window.history.back();
  }
</script>

<section id ='top_bar'>
  <button class ="btn">
    <i class ="fas fa-cog fa-3x"> </i>
  </button>
  <button onclick="window.location.href ='/'" class ="btn">
    <i class ="fas fa-chevron-circle-left fa-3x"> </i>
  </button>

</section>
