body{
    background-image: url(../image/sfuHelp.png);
    background-position: right;
}

#canvas{
    /* padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 800px; */
    background-color: white;
    background-image: url(../image/darkbackground.jpg);
}

.tracker{
    color: aliceblue;
}

#button {
    line-height: 100px;
    width: 100px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:100;
    right:100;
}