@font-face{
  font-family:pacfont;
  src:url("../font/pac-font.ttf");
}

/* {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
} */

::placeholder {
  color: black;
}
body{
  width: 100%;
  height: 100%;
  background: url("/image/login_background.jpg");
  background-size: cover;
  top:0;
}

#page_title{
  text-align:center;
}

h1{
  font-family:pacfont;
  font-size: 3.5vw;
}

h2{
  font-size: 2.5vw;
}


#login_box{
  padding-top:2vh;
  margin-left: auto;
  margin-right:auto;
  margin-top: 5vh;
  width:20vw;
  height:60vh;
  background:rgba(255,255,255,0.39);
  text-align:center;
}


#log_in_photo{
  width: 30%;
  height: 20%;
  border: 2px solid;
  border-radius: 100%;
  display:block;
  margin:auto;
  }

#username{
  margin:auto;
  margin-top:2vh;
  width: 60%;
  height:8%;
  display:block;
  overflow:auto;
  background:transparent;
  border:none;
}

#password{
  margin:auto;
  width:60%;
  height: 8%;
  display:block;
  overflow:auto;
  margin-top:2vh;
  margin-bottom:2vh;
  background:transparent;
  border:none;
}

#sign_in_button{
  display:block;
  margin:auto;
  margin-bottom:3vh;
}
#sign_up_button{
  display:block;
  margin:auto;
  margin-bottom:3vh;
}


.sign_in_options_box{
  margin: auto;
  border-radius: 1%;
}

#gmail{
  width:3vw;
  height:4vh;
  text-align:center;
}