{
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}

body{
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  background:url("/image/login_background.jpg");
  background-size:cover;
  top:0;
}

h1{
  text-align:center;
  font-size:4vw;
}

form{
  margin-left:auto;
  margin-right:auto;
  background-color:rgba(255,255,255,0.6);
  padding:2px 0px;
  width:20vw;
  height:30vh;
}

p{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
  margin-bottom:3vh;
}

input{
  text-align: center;
}

#submit_btn{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
