<html>
  <head>

    <script data-ad-client="ca-pub-8609426266077695"
    async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>

    <title>A Multiplayer Game</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "/static/weatherAPI.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id ='animation_wrapper' style ='position:absolute; z-index:0;'>
      <canvas class="weather_animation" id="rain1"></canvas>
      <canvas class='weather_animation' id="rain2"></canvas>
      <canvas class='weather_animation' id="rain3"></canvas>
      <canvas class='weather_animation' id='moon'></canvas>
      <canvas class='weather_animation' id ='snow'></canvas>
    </div>
    <!-- <canvas class='weather_animation' id ='sun'></canvas> -->
    <div id ='content' style ='position:absolute; z-index:1;'>
      <div id='sun' class="sun"><div class="sunshine"></div></div>
      <div id ='wrapper'>
        <span><canvas id="canvas"></canvas></span>
        <span id = weather-container> <img id = 'icon'></span>
      </div>
      <form action="/logout" method='post'>
        <p id="username" name="username" hidden><%=user%></p>
        <p id="servername" name="servername" hidden><%=server%></p>
        <input type="submit" id="log_out_button" value="LOGOUT" name="username"/>
      </form>

      <audio controls autoplay loop>
        <source src="../static/audio/Attack on Titan S3 OST - ətˈæk 0N tάɪtn ＜WMId＞.mp3" type="audio/mp3" />
      </audio id="volume">
    </div>
    <!-- <a><img src="image/zoombie.png" id="boss" alt="wheredIGo??"></a> -->
    <img src="image/wall.png" id="wall" alt="noWall" hidden>
    <img src="image/gradeF.png" id="boss" alt="RIP" hidden>
    <img src="image/gradeD.png" id="enemy" alt="failed" hidden>
    <img src="image/book.gif" id="player" alt="me" hidden>


    <div id="particles"></div>
  </body>
  <script src="/static/game.js"></script>
  <script src="/static/particles API/particles.js"></script>
  <script src="/static/displayParticle.js"></script>
</html>
