<html>
  <head>

    <script data-ad-client="ca-pub-8609426266077695"
    async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>

    <title>A Multiplayer Game</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "/static/weatherAPI.js" defer></script>
    <style>
      canvas {
        width: 800px; /*original = 800 x 600*/
        height: 600px;
        border: 5px solid black;
        /* margin-left: auto; */
        /* margin-right: auto; */
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <span id ='canvas-space'><canvas id="canvas"></canvas><span>
      <span id = weather-container>
        <img id = 'icon'>
      <span>
    </div>

    <form action="/logout" method='post'>
      <p id="username" name="username" hidden><%=user%></p>
      <p id="servername" name="servername" hidden><%=server%></p>
      <input type="submit" id="log_out_button" value="LOGOUT" name="username"/>
    </form>

  </body>
  <audio controls autoplay loop>
    <source src="../static/sound/Attack on Titan S3 OST - ətˈæk 0N tάɪtn ＜WMId＞.mp3" type="audio/mpeg" />
  </audio id="volume">
  <script src="/static/game.js"></script>
</html>
