<html>
  <head>
    <title>A Multiplayer Game</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <style>
      canvas {
        width: 800px; /*original = 800 x 600*/
        height: 600px;
        border: 5px solid black;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <canvas id="canvas"></canvas>
  </body>
  <script src="/static/game.js"></script>
</html>
