<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Login </title>
    <link rel ="stylesheet" href ="/stylesheets/login_page.css" />
</head>
<body>
  <section id ="page_title">
    <h1 class="title"> S . F . U </h1>
    <h2 class="title"> Special Fortification Unit</h2>
  </section>
  <section id="login_box">
    <p> <%=message%> </p>
    <div class ="imgcontainer">
      <img src="/image/login_profile2.png" id="log_in_photo" alt="avatar">
    </div>
      <form action="/users" method='post'>
        <input type="text" placeholder="Username" id="username" name="username" required>
        <input type="password" placeholder="Password" id="password" name="password" required>
        <input type="submit" id="sign_in_button" value="JOIN US" />
      </form>
      <button onclick="window.location.href ='/register'"id="sign_up_button">REGISTER </button>
      <div class="sign_in_options_box">
          <p>Sign In With: </p>
          <button class="sign_in_options" id="gmail">
            <img src="/image/gg_login.png" height="100%" width="100%">
          </button>
      </div>
  </section>

</body>
</html>
