<!DOCTYPE html>

<html lang="en">
<head>

    <script data-ad-client="ca-pub-8609426266077695"
    async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>

    <meta charset="utf-8" />
    <title> Login </title>
    <link rel ="stylesheet" href ="/stylesheets/login_page.css" />
    <meta name="google-signin-client_id"
      content="724640681185-mr4i0ifaaa5qa0crihkmljgfeuvuvp8t.apps.googleusercontent.com">

    <!-- <script src='/static/weatherAPI.js' defer> </script> -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <section id ="page_title">
    <h1 class="title"> S . F . U </h1>
    <h2 class="title"> Special Fortification Unit</h2>
  </section>

    <section id="login_box">
      <p id='msg'><%=message%></p>
      <div class ="imgcontainer">
        <img src="/image/login_profile2.png" id="log_in_photo" alt="avatar">

      </div>
      <form action="/checkAccount" method='post' id =convention_login>
        <input type="text" placeholder="Username" class="username" name="username" required>
        <input type="password" placeholder="Password" id="password" name="password" required>
        <input type="submit" class="sign_in_button" value="JOIN US" />
      </form>

      <form action="/ggAccount" method='post' id =google_login>
        <input type="text" placeholder="Username" class="username" name="username" id="username" required>
        <input type="gmail" placeholder="Gmail" id="gmail" name="gmail" required>
        <input type="submit" class="sign_in_button" value="JOIN US" />
      </form>
      <button onclick="window.location.href ='register'" id="sign_up_button">REGISTER </button>
      <p id=sign_in_para>Sign In With: </p>
      <p class="g-signin2" data-onsuccess="onSignIn" id="gg_sign_in"></p>
      <button href="#" onclick="signOut();" id=sign_out_btn>Sign out</button>
    </section>

</body>
      <!-- <srcipt src="/static/login.js"> </script> -->
      <script>
      //Call a popup alert for failure in sign-up or sign-in


      var msg = document.querySelector('#msg');
      if (msg.innerHTML !='')
        {
          alert(msg.innerHTML);
        };

      //Google sign out function
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          document.querySelector('#sign_in_para').style.display="block";
          document.querySelector('#convention_login').style.display = "block";
          document.querySelector('#gg_sign_in').style.display = "block";
          document.querySelector('#google_login').style.display = "none";
          document.querySelector('#sign_out_btn').style.display = "none";
        });
      };

      //Google authentification
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();

        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        //Handling gg profile information
        ggRequest(profile);
      };

      //Check gg data with our DB and fill in gg login form
      function ggRequest(profile){
        var data = {
          'username':profile.getName(),
          'gmail':profile.getEmail()
        };
        const options ={
          method: 'POST',
          headers:
          {
            "Content-Type":"application/json"
          },
          body: JSON.stringify(data)
        };
        fetch('/gglogin',options).then(response=>{
          document.querySelector('#sign_in_para').style.display="none";
          document.querySelector('#convention_login').style.display = "none";
          document.querySelector('#gg_sign_in').style.display = "none";
          document.querySelector('#google_login').style.display = "block";
          document.querySelector('#sign_out_btn').style.display = "block";
          document.querySelector('#username').value =String(data.username);
          document.querySelector('#gmail').value=String(data.gmail);
        });
      };

      // var btn =document.querySelector('#test_btn');
      // btn.addEventListener('click',ggRequest);

      </script>
</html>
