
<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel='stylesheet' href='stylesheets/register.css'
  </head>
  <body>
    <% include ../partials/top_bar.ejs %>
    <h1> REGISTER </h1>
    <form id ="info_form">
      <p>ID: <input type="text" placeholder="Username" id="ID_box"/></p>
      <p>Password:<input type="password" placeholder="Password" id="PW_box"/></p>
      <p>Gmail:<input type="email" placeholder="Gmail" id="Gmail_box"/></p>
      <input type="submit" id="submit_btn" value="Sign-up"/>
    </form>
  </body>
</html>
